<link rel="stylesheet" href="~/css/AllDecks.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
    <img src="~/img/whiteLogo.png" alt="" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="text-light nav-item nav-link" href="/newdeck">New Deck</a>
      <a class="nav-item nav-link active" href="/alldecks">My Decks <span class="sr-only">(current)</span></a>
      <a class="text-light nav-item nav-link" href="/quiz">Quiz</a>
      <a class="text-light nav-item nav-link" href="/everysingledeck">Other Decks</a>
      <a class="text-danger nav-item nav-link" href="/logout">Sign Out</a>
    </div>
  </div>
</nav>

<div class="mainBody">
  <a href="/myfavdecks" class="on btn btn-outline-success">Go to Favorite Decks</a>
  <h1 class="title display-4 text-center">Created Decks</h1>
  <hr class="smallhr">

  @{
    if(ViewBag.AllDecks.Count == 0)
    {
      <br>
      <br>
      <br>
      <br>
      <br>
      <p class="text-center nodecks varela">You have not created any decks yet</p>
      <p class="text-center">
        <a href="/newdeck" class="new btn btn-outline-primary">Create Deck</a>
      </p>
    } else {
      foreach(var D in ViewBag.AllDecks)
      {
        <br>
        <br>
        <div class="row varela">
          <div class="col-md-2"></div>
          <div class="col-md-9">
            <a href="/thisdeck/@D.DeckId" class="box">
              <div class="rec">
                <span class="float-right count">@D.Flashcards.Count Cards</span>
                <p class="name">@D.DeckName.ToUpper()</p>
                @if(@D.Description == null)
                {
                  <p class="desc">No Description Avaliable</p>
                }
                <p class="desc">@D.Description</p>
              </div>
            </a>
          </div>
        </div>
      }
    }
  }
</div>