@model Deck

<link rel="stylesheet" href="~/css/NewDeck.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
    <img src="~/img/whiteLogo.png" alt="" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/newdeck">New Deck <span class="sr-only">(current)</span></a>
      <a class="text-light nav-item nav-link" href="/alldecks">My Decks</a>
      <a class="text-light nav-item nav-link" href="/quiz">Quiz</a>
      <a class="text-light nav-item nav-link" href="/everysingledeck">Other Decks</a>
      <a class="text-danger nav-item nav-link" href="/logout">Sign Out</a>
    </div>
  </div>
</nav>

<div class="mainBody"> 
  
  <div class="row varela">
      <div class="col-md-5 left">
          @* <img src="~/img/logo.png" alt="Logo" class="logo"> *@
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="under text-center">
            <br>
            <br>
            <h1>Let's go ahead and create a new deck!</h1>
            <br>
            <h4>Here are some tips when creating a new deck.</h4>
            <br>
            <p>What are you looking to study?</p>
            <p>What will this deck be called?</p>
            <p>What will other users know when they read your deck name?</p>
          </div>
      </div>
      <div class="col-md-5 mid">
          <form action="/newdeck" method="post" class="break">
              <span class="validation" asp-validation-for="DeckName"></span>
              <input asp-for="DeckName" class="form-control area" placeholder="Deck Name">
              <br>
              <textarea asp-for="Description" class="form-control area" cols="30" rows="10" placeholder="Description (Optional)"></textarea>
              <br>
              <div class="text-center">
                  <input type="submit" value="Add Deck" class="btn btn-primary">
              </div>
          </form>
      </div>
  </div>
</div>
