body{
    height:100vh;
    background-color: #BFDEE3;
}
.controlBody{
    overflow: hidden;
}
html{
    height:100vh;
}

.leftSection{
    /* background: linear-gradient(0deg, rgb(7, 2, 109) 4%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%); */
    background-color: rgb(156, 0, 26);
    height:92vh;
    margin-top: 3vh;
    margin-left: 5vh;
    color: white;
    padding-left: 2%;
    border-radius: 1%;
}

input::placeholder{
    font-family: 'Varela', sans-serif;
}
.form-control{
    height: calc(1.5em + 0.75rem + 10px) !important;
    border: 1px solid gray !important;
}

.form-control{
    border-radius: 1%;
}
.info{
    font-weight: 0;
    font-size: 350%;
    /* text-shadow: 2px 2px black; */
}
.about{
    font-size: 150%;
    font-weight: 200;
}
.validations{
    color: red;
    font-size: 90%;
}
.logo{
    height: 7%;
}
.color{
    color: #6C63FF;
}
@media only screen and (max-width: 600px){
    .controlBody{
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    .leftSection{
        overflow: auto;
        margin-left: 1em;
        margin-top: 0;
        border-radius: 0em;
        padding-left: 0em;
    }
    .rightSide{
        margin-bottom: 18em;
        margin-right: 1em;
        margin-left: 1em;
    }
}
