html, body{
    height: 110vh;
    background: rgb(94,136,242);
    background: linear-gradient(0deg, rgba(94,136,242,1) 4%, rgba(146,186,237,1) 47%, rgba(161,215,235,1) 100%);
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.area{
    background-color: rgba(0, 0, 0, 0.164);
    border: 2px solid black;
    color: white;
}
    .area:focus{
        background-color: rgba(0, 0, 0, 0.164);
        color: white;
    }
    .area::after{
        color: white;
    }
    .area::placeholder{
        font-style: italic;
        color: white;
    }
.jumbotron{
    background-color: rgb(156, 0, 26);
    color: white;
}
.validation{
    color: black;
    font-size: small;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.442) !important;
    height: 3em;
}
.logo{
    width: 7em !important;
}
.mainBody{
    overflow: hidden;
}
@media only screen and (max-width: 768px){
    .navbar{
        height: auto;
    }
    .jumbotron{
        width: 130%;
    }
}
@media only screen and (max-width: 600px){
    .jumbotron{
        width: auto;
    }
}