body{
    min-height: 100vh;
    background: rgb(236,247,249);
    background: linear-gradient(128deg, rgba(236,247,249,1) 0%, rgba(186,219,224,1) 100%);
    overflow: scroll;
    overflow-x: hidden;
}
.logo{
    width: 100%;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.164) !important;
    height: 9vh;

}
.active{
    color: red !important;
    text-decoration: none;
    transition: 0.5s;
    font-size: large;
}
    .active:hover{
        color: blanchedalmond !important;
    }
.out{
    text-decoration: none;
    color: white !important;
    transition: 0.5s;
    font-size: large;
}
    .out:hover{
        color: red !important;
    }
.smallhr{
    width: 10%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.main{
    width: 22vh;
}
.main{
    width: 22vh;
}
.rec{
    width: 100vh;
    min-height: 20vh;
    max-height: 20vh;
    color: white;
    /* background-color: #6A172B; */
    border: 1px solid black;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("../img/redt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2vh;
    border-radius: 6px;
    overflow: auto;
    transition: 0.4s ease-out;
}
    .rec::-webkit-scrollbar{
        width: 1px;
    }
    .rec:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
        text-decoration: wavy;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
    .rec:hover ~ .rec {
        position: relative;
        transition: 0.4s ease-out;
    }
.name{
    font-size: x-large;
    font-weight: bold;
    color: #6C63FF;
    display: inline-block;
}
.creator{
    color: #6C63FF;
    display: inline-block;
    font-size: small;
    font-style: italic;
}
.desc{
    font-size: medium;
    font-style: italic;
    font-weight: 100;
}
.star{
    width: 2vh;
}
.box:hover{
    text-decoration: none;
}
.opt{
    width: 95vh;
    height: 5vh;
}
.on{
    width: 95vh;
    height: 5vh;
}
.nodecks{
    font-size: x-large;
    font-weight: 400;
}
.new{
    background-color: rgba(0, 0, 0, 0.062);
    color: black;
    border: 1px solid black;
}
.new:hover{
    color: blue;
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0.178);

}