body{
    min-height: 100vh;
    background: rgb(236,247,249);
    background: linear-gradient(128deg, rgba(236,247,249,1) 0%, rgba(186,219,224,1) 100%);
}
.mainBody{
    overflow-x: hidden;
    overflow-y: auto;
}
.main{
    width: 22vh;
}
.rec{
    width: 100vh;
    min-height: 20vh;
    max-height: 20vh;
    color: white;
    border: 1px solid black;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("../img/redt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2vh;
    border-radius: 6px;
    overflow: auto;
    transition: 0.4s ease-out;
}
    .rec::-webkit-scrollbar{
        width: 1px;
    }
    .rec:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
        text-decoration: wavy;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
    .rec:hover ~ .rec {
        position: relative;
        transition: 0.4s ease-out;
    }
.name{
    font-size: x-large;
    font-weight: bold;
    color: #6C63FF;
}
.desc{
    font-size: medium;
    font-style: italic;
    font-weight: 100;
}
.nodecks{
    font-size: x-large;
    font-weight: 400;
    margin-top: 2em;
}
.new{
    background-color: rgba(0, 0, 0, 0.062);
    color: black;
    border: 1px solid black;
}
.new:hover{
    color: blue;
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0.178);

}
.box:hover{
    text-decoration: none;
}
.my{
    font-size: x-large;
}
.opt{
    width: 100em;
    height: 5vh;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.442) !important;
}
.logo{
    width: 7em !important;
}
@media only screen and (max-width: 768px){
    .rec{
        width: 47vh;
    }
    .opt{
        width: 27em;
    }
}